#playlist select {
	width:50%;
	height:300px;
}

.playing {
	background: red;
}

#progressbar {
	width:50%;
	height:15px;
	background: grey;
	padding: 0;
}
#progress{
	width: 0%;
	height:15px;
	background: green;
	margin:0;
}

body {
	text-align: center;
}
#bar {
	display: flex;
}
#bar > * {
	margin:auto;
}